*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
}
header{
    
    height: 100px;
    display: flex;
    justify-content: space-around;
   padding: 20px;
   align-items: center;
   border: 1px solid rgb(241, 241, 241);
   
}
header h2{
    color: #697c8e;
}
nav{
height: 80px;
width: 400px;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type:none;
}
ul li a{
    color: #dc75dc;
}
ul li {
    padding: 10px;
}
a {
    text-decoration: none;
    color: inherit;
}
ul li a:hover{
    color: purple;
}
.hero{
    width: 92%;
    background-color: rgb(253, 253, 233);
    display: flex;
    margin: auto;
}
.hero img{
    margin-right: 24px;
}
.hero div{
    padding: 30px;
    font-size: 5rem;
    color: gray;
}
.container{
background-color: rgb(254, 254, 254);
height: 400px;
width:100%;
margin-top: 80px;
border-top: 1px solid rgb(241, 241, 241);
border-bottom: 1px solid rgb(241, 241, 241);
}
.boxes{
    height: 400px;;
    width: 95%;
    margin: auto;
    padding: 20px;
    display: flex;
}
.box{
    height: 304px;
    min-width: 400px;
    margin: 20px;
    border: 5px solid rgb(253, 237, 237);
    border-radius: 10px;
}
.box img{
    width: 100%;  
}
.title{
text-align: center;
}
.footer{
background-color: #697c8e;
height: 160px;
padding: 40px;
color: white;
display: flex;
justify-content: space-around;
margin-top:20px;
}
.sub-footer{
    background: lightblue;
    height: 50px;
    padding-top:  20px;
    text-align: center;
}

